*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table,td,th{
    border: 1px solid grey;
    border-collapse: collapse;
}

table{
    width: 50%;
    margin: 10px auto;
}

th{
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 10px;
}

td{
    padding: 7px 20px 3px 7px ;
}

caption{
    font-size: 25px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 40px;
}

tr:nth-child(even){
    background-color: lightgrey;
}
.green{
    background-color: green;
    color: white;
    font-size: 17px;
    padding: 3px;
    border: none;
}

.yellow{
    background-color: orange;
    color: white;
    font-size: 17px;
    padding: 3px;
    border: none;
}